
body {
  // fonts
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
// 
// <<<<<<< HEAD
// =======
.column{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
// >>>>>>> ea9f5fe9f44f29e589faf11e38b407bd0106c87b
