// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Variables
// Variables

$color-purple: #4D44B5;
$color-text: #303972;
$color-background: #D8EDF7;
<<<<<<< HEAD
=======
// <<<<<<< HEAD
$color-gray-2: #C1BBEB;
// =======
>>>>>>> 393fd90451afc8c498122b116fb75bb4ac4dc26f
$color-gray: #F5F5F5;
// $color-gray-2: #C1BBEB;
$color-gray-3: #A098AE;
<<<<<<< HEAD
=======
// >>>>>>> ea9f5fe9f44f29e589faf11e38b407bd0106c87b
>>>>>>> 393fd90451afc8c498122b116fb75bb4ac4dc26f
