main {
    margin-top: 50px;

    &.men {
        flex: 1;

        margin: {
            top: 46px;
        }

    }

    .main-title {
        width: 100%;
        height: 83px;
        flex-shrink: 0;
        border-radius: 20px 20px 0px 0px;
        background: $color-purple;
        display: flex;
        align-items: center;

        padding: {
            left: 59.45px;
        }

        h3 {
            @include defaultTextStyle(28px, $color: #fff)
        }
    }

    .card {
        width: 100%;
        background-color: #fff;
        padding: 40px 17px;

        .col-md-4 {
            .profile {
                flex-shrink: 0;

                img {
                    width: 559px;
                    height: auto;
                    border-radius: 50%;
                }
            }

            .column {
                align-items: end;
                gap: 20px;

                .date {
                    @include defaultTextStyle(20px)
                }

                .personal-id {
                    @include defaultTextStyle(25px, $color: $color-purple)
                }
            }
        }

        .col-md-8 {
            .info {
                width: 100%;
                height: auto;
                flex-shrink: 0;
                border-radius: 20px;
                border: rgba(0, 0, 0, 0.03) solid 2px;
                background: $color-gray;
                padding: 28px 12px 28px 28px;
                display: flex;
                flex-direction: column;
                gap: 40px;

                h3.name {
                    @include defaultTextStyle(50px, 900)
                }
            }
        }

        .personal-age {
            @include defaultTextStyle(50px)
        }

        .gender {
            @include defaultTextStyle(34px)
        }

        .postal {
            text-align: center;

            h3 {
                @include defaultTextStyle(24px)
            }
        }

        .name-techer {
            @include defaultTextStyle(18px, 400);
            text-shadow: 0px 2.512089252471924px 2.512089252471924px rgba(0, 0, 0, 0.25);
        }

        .specialist {
            @include defaultTextStyle(26px, 400, $color: $color-gray-3)
        }

        .icon {
            width: 60px;
            height: 60px;
            padding: 4px;
            background-color: $color-gray-3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .empty_rect {
            width: 100%;
            height: 488px;
            border-radius: 15px;
            margin-top: 72px;
            border: 1px solid var(--color-gray-2, #C1BBEB);
            background: var(--color-gray, #F5F5F5);
        }
    }
}