.savol_javob__container {
    width: 100%;
    background-color: rgba(221, 252, 245, 0.82);
    height: 600px;
    padding: {
        top: 16px;
        right: 23px;
        left: 23px;
    }
    margin: {
        left: auto;
        right: auto;
    }

    ;

    .savol_javob__date {
        color: #667085;
        font-family: Abhaya Libre;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 175%;
        /* 36.75px */
    }
}