.admin_mahsulotlar {
    margin-left: 310px;
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    flex-direction: row;
    padding: {
        top: 40px;
        left: 40px !important;
        right: 22px !important;
    }
}