.ustozlar__card {
    width: 1566px;
    margin-left: 310px;
    background: var(--color-background, #D8EDF7);
}





.ustozlar__list {

    padding: 0 33px 24px 38px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 53px;
    row-gap: 36px;
}
.ustozlar__pagination{
    padding: 24px 52px 42px 63px;
}