.login {
    width: 1440px;
    height: 990px;

    .login__left {
        .logo__img {
            background-image: url('../../images/png/logo.png');
            width: 669px;
            height: 662px;
        }
    }
}