.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 100%;
    position: fixed;
    background-color: $color-purple;
    bottom: 0;
    left: 0;
    z-index: 100;

    padding: {
        left: 20px;
    }

    .logo-menu {
        margin: {
            top: -25px;
            right: 27px;
        }
        width: 272px;
        height: 204px;
    }
    .menu-item {
        .nav-menu {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .nav-link {
                cursor: pointer;
                display: flex;
                width: 100%;
                height: 64px;
                padding: 16px 24px;
                align-items: center;
                gap: 24px;
                border-radius: 40px 0px 0px 40px;
                /* Shadow */
                box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
                @include defaultTextStyle(18px, 550, $color: $color-gray-2);

                &.active {
                    background: $color-background;
                    color: $color-purple;

                    path {
                        fill: $color-purple;
                    }
                }
            }
        }
    }
}