.sidebar-left {
    position: relative;
}

.sidebar-main {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    margin-left: 310px;
    width: calc(100% - 310px)!important;
    padding: {
        top: 40px;
        left: 40px !important;
        right: 22px !important;
        bottom: 12px;
    }
  
}